@import './App';

.about {
  &__description {
    font-weight: 200;
    font-size: 1.15rem;
    line-height: 1.75rem;
    margin-bottom: $component-margin / 4;
  }

  &__link {
    position: relative;
    font-weight: 400;
    &::after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 4px;
      height: 0.5rem;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.4);
      transition: transform 0.2s ease-in-out;
      transform: scaleX(0);
      transform-origin: right;
    }
    &:hover::after {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
}
