@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;700;800&display=swap');

// spaces, margins
$app-margin: 2rem;

// color
$bg-color: #0e1311;
$primary-color: #f5f6f6;
$secondary-color: #97a9a8;

// links
a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

// headings
h1 {
  font-weight: 300;
  font-size: 0.75rem;
}

h2 {
  font-weight: 800;
  font-size: 7.25vmax;
}

h3 {
  font-weight: 300;
  font-size: 1.25rem;
}

h4 {
  font-weight: 200;
  font-size: 1.15rem;
}

h5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.15rem;
}

body {
  font-family: 'Manrope', Arial, sans-serif;
  color: $primary-color;
  background-color: $bg-color;
  box-sizing: border-box;
}

.app {
  z-index: 1;
}

.section {
  display: flex;
  margin: ($app-margin * 4) $app-margin 0;

  &__wrapper {
    width: 100%;
    padding-left: 4rem;
  }

  &__title--padding {
    padding-top: $app-margin;
  }

  &__title {
    min-width: 292px;
    letter-spacing: 0.5rem;
    color: $secondary-color;
  }

  &__subtitle--margin {
    margin-bottom: $app-margin;
  }
}

.content__separator {
  width: 100%;
}

// custom cursor

.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.2rem;
  background-color: $primary-color;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
}

// responsiveness

@media (max-width: 860px) {
  .section {
    flex-direction: column;

    &__wrapper {
      margin-right: $app-margin;
      padding: 0;
    }
    &__title {
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__list {
      display: none;
    }

    &__wrapper {
      padding-right: 0;
    }

    &__list--mobile {
      display: flex;
    }

    &__links--mobile {
      margin-right: $app-margin;
    }
  }

  .cursor {
    display: none;
  }
}

@media (max-width: 512px) {
  .header {
    &__title {
      padding-right: 0;
    }
  }

  .section {
    margin: $app-margin * 2 $app-margin;
  }
  .projects {
    &__info {
      font-size: 0.75rem;
      margin-left: $app-margin/2;
    }
  }
}
