@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;700;800&display=swap');
// spaces, margins

$app-margin: 2rem;
$component-margin: 2.25rem;

// font

// color
$bg-color: #0c100f;
$primary-color: #f5f6f6;
$secondary-color: #97a9a8;

// links
a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

// headings
h1 {
  font-weight: 300;
  font-size: 0.75rem;
}

h2 {
  font-weight: 800;
  font-size: 7.25vmax;
}

h3 {
  font-weight: 300;
  font-size: 1.25rem;
}

h4 {
  font-weight: 200;
  font-size: 1.25rem;
}

h5 {
  font-weight: 300;
  font-size: 2rem;
}

.app {
  margin: $app-margin;
}

body {
  font-family: 'Manrope', Arial, sans-serif;
  background-color: $bg-color;
  color: $primary-color;
  box-sizing: border-box;
}

// global layout

.section {
  display: flex;
  justify-content: flex-start;
  margin-top: $component-margin * 2;

  &__wrapper {
    width: 70%;
    margin-left: auto;
  }

  &__title {
    padding-right: 2rem;
    letter-spacing: 0.5rem;
  }

  &__subtitle {
    margin-bottom: $component-margin / 4;
  }
}

.content__separator {
  margin: ($component-margin / 4) 0 ($component-margin / 2);
  width: 100%;
}

// custom cursor

.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.2rem;
  background-color: $primary-color;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
}

// responsiveness

@media (max-width: 768px) {
  .section {
    &__title {
      margin-bottom: 2rem;
    }
  }
}
