@import './App';

.footer {
  padding: 36vmin 0 $app-margin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__credits {
    font-size: 1rem;
    color: $secondary-color;
    text-transform: uppercase;
  }
}

@media (max-width: 768px) {
  .footer {
    &__credits {
      font-size: 0.75rem;
    }
  }
}
