@import './variables';

.header {
  height: 100vh;

  &__wrapper {
    width: 94%;
    margin: 0 auto;
  }

  &__title {
    margin-top: 36vmin;
  }

  &__subtitle {
    margin-top: $component-margin;
  }

  &__list {
    margin-top: $component-margin * 1.25;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }

  &__links {
    font-family: 'Frank Ruhl Libre';
    font-weight: 300;
    font-size: 1rem;
    position: relative;
    padding: 0;
    // margin-right: 20vmin;

    &::after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 4px;
      height: 0.5rem;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.4);
      transition: transform 0.2s ease-in-out;
      transform: scaleX(0);
      transform-origin: right;
    }
    &:hover::after {
      transform-origin: left;
      transform: scaleX(1);
    }
  }

  // &__links--last {
  //   margin-right: 0;
  // }
}

@media (max-width: 512px) {
  .header {
    &__title {
      margin-top: 24vmin;
      hyphens: none;
      word-wrap: none;
    }

    &__list {
      width: 100%;
    }
  }
}
