@import './App';

.header {
  &__logo {
    text-transform: uppercase;
  }

  &__wrapper {
    margin-top: 24vmin;
    width: 90%;
    display: flex;
    align-items: center;
  }

  &__title {
    padding-right: $app-margin * 2;
  }

  &__subtitle {
    margin-top: $component-margin;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 192px;
  }

  &__links {
    font-weight: 200;
    font-size: 1rem;
    padding: 8px 16px;
    position: relative;
  }

  &__links--linkedin::after {
    content: 'linkedin';
    position: absolute;
    left: -4px;
    color: green;
  }

  &__links--github::after {
    content: 'github';
    position: absolute;
    left: 3px;
    color: green;
  }
  &__links--twitter::after {
    content: 'twitter';
    position: absolute;
    left: 2px;
    color: green;
  }
}

@media (max-width: 512px) {
  .header {
    &__title {
      hyphens: none;
      word-wrap: none;
    }
  }
}
