@import './App';

.projects {
  &__link {
    padding: $app-margin 0;
    font-family: 'manrope';
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.1s ease;
  }

  &__link:hover {
    transform: scaleX(0.98);
  }

  &__info {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .projects {
    &__technologies {
      font-size: 0.9rem;
    }
    &__info {
      font-size: 0.75rem;
    }
  }
}
