@import './App';

.projects {
  &__description:first-child {
    padding-top: 0;
  }

  &__description {
    padding: $app-margin 0;
    font-family: 'manrope';
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.1s ease;
  }

  &__description:hover {
    transform: scaleX(0.98);
  }

  &__technologies {
    font-size: 1.25rem;
    margin-right: 2rem;
  }

  &__info {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .projects {
    &__technologies {
      font-size: 0.9rem;
    }
    &__info {
      font-size: 0.75rem;
    }
  }
}
