@import './App';

.projects {
  display: flex;
  justify-content: flex-start;
  margin-top: $component-margin * 2;
  &__title {
    // line-height: 12px;
    padding-right: 2rem;
  }
  &__wrapper {
    width: 70%;
    margin-left: auto;
  }

  &__link {
  }

  &__description {
    margin-bottom: $component-margin / 4;
    font-family: 'manrope';
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__technologies {
    font-size: 1.25rem;
    margin-right: 2rem;
  }

  &__info {
    font-size: 0.9rem;
  }

  &__separator {
    margin: ($component-margin / 4) 0 ($component-margin / 2);
    width: 100%;
  }
}

@media (max-width: 768px) {
  .projects {
    &__title {
      margin-bottom: 2rem;
    }
    &__technologies {
      font-size: 0.9rem;
    }
    &__info {
      font-size: 0.75rem;
    }
  }
}
