// spaces, margins

$app-margin: 1.5rem;
$component-margin: 2.25rem;

// font

// color
$bg-color: #0c100f;
$primary-color: #f5f6f6;
$secondary-color: #97a9a8;

// links
a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

// headings
h1 {
  font-family: 'manrope';
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h2 {
  font-family: 'Frank Ruhl Libre', Georgia, serif;
  font-weight: 700;
  // font-size: 5.25rem;
  // line-height: 5.25rem;
  font-size: 7vmax;
  line-height: 7vmax;
}

h3 {
  font-family: 'manrope';
  font-weight: 300;
  font-size: 1.25rem;
  color: $secondary-color;
}

h4 {
  font-family: 'manrope';
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: $component-margin * 2;
}

h5 {
  font-family: 'manrope';
  font-weight: 300;
  font-size: 2rem;
}
